<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="applicationContext.xml"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="520000"/>
    </bean>
    <!--mvc注解驱动-->
    <mvc:annotation-driven/>

    <context:component-scan base-package="io.oicp.yorick61c.controller"/>
    <!--静态资源权限开放-->
    <mvc:default-servlet-handler/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="myException" class="io.oicp.yorick61c.exception.MyExceptionResolver"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置需要拦截的资源-->
            <mvc:mapping path="/**"/>
            <!--配置不拦截的资源-->
            <mvc:exclude-mapping path="/jump_to_index.jsp"/>
            <mvc:exclude-mapping path="/user/**"/>
            <mvc:exclude-mapping path="/index/welcome/**"/>
            <mvc:exclude-mapping path="/index.jsp"/>
            <mvc:exclude-mapping path="/register.jsp"/>
            <mvc:exclude-mapping path="/reg-result.jsp"/>
            <!--配置拦截方法类的全限定名-->
            <bean class="io.oicp.yorick61c.interceptor.CheckLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>