<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.oicp.yorick61c.mapper.UserMapper">

    <resultMap id="userMap" type="user">
        <id property="euUserId" column="EU_USER_ID"/>
        <result property="euUserName" column="EU_USER_NAME"/>
        <result property="euPassword" column="EU_PASSWORD"/>
        <result property="euSex" column="EU_SEX"/>
        <result property="euBirthday" column="EU_BIRTHDAY"/>
        <result property="euIdentityCode" column="EU_IDENTITY_CODE"/>
        <result property="euEmail" column="EU_EMAIL"/>
        <result property="euMobile" column="EU_MOBILE"/>
        <result property="euAddress" column="EU_ADDRESS"/>
        <result property="euStatus" column="EU_STATUS"/>
    </resultMap>
    <!--sql抽取-->
    <sql id="selectUser">select * from user</sql>

    <!--增-->
    <insert id="register" parameterType="user">
        insert into eb_user value (#{euUserId},#{euUserName},#{euPassword},#{euSex},#{euBirthday},#{euIdentityCode},#{euEmail},#{euMobile},#{euAddress},1)
    </insert>
    <!--删-->

    <!--改-->

    <!--查-->
    <select id="findAll" resultMap="userMap">
        
        select * from eb_user
    </select>


</mapper>