<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.oicp.yorick61c.mapper.ProductCategoryMapper">

    <sql id="productCategoryColomn">
        EPC_ID,EPC_NAME,EPC_PARENT_ID
    </sql>


    <resultMap id="productCategoryMap" type="ebProductCategory">
        <id column="EPC_ID" property="epcId"/>
        <result column="EPC_NAME" property="epcName"/>
        <result column="EPC_PARENT_ID" property="epcParentId"/>
    </resultMap>

    <select id="findProductCategoryByPage" resultMap="productCategoryMap">
        select <include refid="productCategoryColomn"/> from eb_product_category
    </select>

</mapper>